*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Nunito ,sans-serif;
    border: none;
    outline: none;
}


section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    
}



header{
    position: sticky;
    top: 0;left: 0;right: 0;
    background-color: rgb(64, 233, 12);
    box-shadow: rgb(214, 214, 214);
    z-index: 1000;
}

header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;

}
header .flex .navbar a{
    padding-left: 22px;
    font-size: 14px;
    color: rgb(0, 0, 0);


}
header .flex .navbar a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(165, 163, 42);
    
}
@media(max-width:768px) {
    html{
        font-size: 60%;
    }
}
.good{
    width: 100%;
    height: 100vh;
    background-color:olivedrab;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.mains{
    width: 100%;
    height: 100vh;
    background-color:olivedrab;
    flex-direction: column;
    display: flex;
    justify-content: center;
    
       
}
form{
    color: rgb(19, 19, 19);
    display:flex;
    flex-direction: column;
    width: 90%;
    padding: 2vw 4vw;
    border: ridge;
    border-radius: 20px;
    max-width: 600px;
    position: relative;
    font-size: 15px;

}
form h2{
    text-align: center;
    color: rgb(167, 180, 90);
    font-weight: bold;
    margin-bottom: 20px;
}
form input,form select,form option,form textarea{
    border: 0;
    padding: 10px 0;
    border-radius: 30px;
    font-size: 10px;
    font-size: 15px;
}
form button{
    text-align: center;
    padding: 10px;
    background: rgb(197, 173, 173);
    border-radius: 50px;
    font-size: 15px;
    width: 200px;
    margin: 10px auto 0;
    cursor: pointer;
    border: none;
    
}

    
.text{
    text-align: center;
    
}
 .text h1{
        color:white;
        font-size: 30px;

    }

.mainn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height:100vh ;
    padding: 50px;
}

 .mainn .img img{
    margin-top: 5px;
    border-radius: 50px;
    height: 300px;
}
.goodness {
 display: flex;  
 justify-content: space-evenly;
   
    
}

    

.goodness ul li{
    list-style-type: disc;

}
.goodness ol li{
    list-style-type: upper-roman;

}
ul,li{
    line-height: 1.5rem;
}

footer{
    background-color: black;
    

}
footer h2{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;


}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    margin: 20px 10px 10px;
    border-radius: 50%;
    font-size: 20px;
}
.social a:hover{
    color: antiquewhite;
    background-color: black;
    transition: 1s;
}

